# pip install -e  #
###################
*.egg-info

# Compiled source #
###################
*.pyc
*.py~

# Logs and databases #
######################
*.log
*.swp
.directory
.cache
.spyderproject
.spyderworkspace
*.bac*
*.in~

# Profiling          #
######################
*.stats

# TeX aux files      # 
######################
*.aux
*.out
